<html>
<head>
<title>Welcome </title>
<script>

<h2 align="center">Welcome </h3>
</head>

<body>
<img src="images/logo.jpg" alt="Logo">
<h3>Post an Advertisement</h3>
<fieldset style="width:70%"><legend><h3>Add Product Listing</h3></legend>
<form method="POST" action="/postadd">

<table border="0">
<tr>
<td>Enter Product name:</td><td> <input type="text" required ="" id="pname" name="pname"></td>
</tr>
<tr>
<td>Enter Product description:</td><td>​<textarea id="txtArea" name="desc" rows="10" cols="30"></textarea></td>
</tr>
<tr>
<td>Enter Product Price:</td><td> <input type="text" id="price" required ="" name="price"></td>
</tr>
<tr>
<td>Enter Product Quantity:</td><td> <input type="text" id="quantity" required ="" name="quantity"></td>
</tr>
<tr>
<td>Enter Image Source:</td><td> <input type="text"  name="img"></td>
</tr>
<tr>
<td>Enter Shipping  Details:</td><td> <input type="text"  name="shipping"></td>
</tr>
<tr>
<td>Enter Shipping  Details:</td><td> <input type="text"  name="shipping"></td>
</tr>
<tr>
<td><input id="button" type="submit" name="submit" value="Submit Ad Details"></td>
</tr>
</table>
</form>
</fieldset>
</body>
</html>