<!DOCTYPE html>
<head>
<title>Amazon Store Login</title>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<h3>You have successfully logged out..</h3>
</head>
<body>
<div class="container" align="center">

	<section id="content">
		
		<form action="/authenticate" method="POST">
		<img src="images/logo.png" alt="Amazon Logo">
		<fieldset style="width:80%">
			<h1>User Login</h1>
			<div> 
				<input type="text" placeholder="Username" required="" name="username" />
			</div>
			<div>
				<input type="password" placeholder="Password" required="" name="password" />
			</div>
			<div>
				<input type="submit" value="Log in" />
				<a href="/register">Register</a>
			</div>
		</fieldset>
		</form>
		<div class="button">
	</section>
</div>
</body>
</html>