<!DOCTYPE HTML>
<html>
<head>
<title>New User Registration</title>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body id="body-color">
<div id="SignUp">
<fieldset style="width:30%"><legend><h3>Registration Form</h3></legend>
<table border="0">
<tr>
<form method="POST" action="/welcome">
<img src="images/logo.png" alt="Amazon Logo">
<td>First Name</td><td> <input type="text" required ="" name="fname"></td>
</tr>
<tr>
<td>Last Name</td><td> <input type="text" required ="" name="lname"></td>
</tr>
<tr>
<td>Email</td><td> <input type="email" required ="" name="email"></td>
</tr>
<tr>
<td>Password</td><td> <input type="password" required ="" name="pass"></td>
</tr>
<tr>
<td><input id="button" type="submit" name="submit" value="Sign-Up"></td>
</tr>
</form>
</table>
</fieldset>
</div>
</body>
</html>

